<div class="container-fluid">
  <h2 class="text-center"> User Details</h2>
</div>

<div class="row">
  <div class="user-info col-lg-12 table-responsive table-container">
    <table class="user-props">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit User</th>
        <th>Delete User</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.userStatus}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userRole}}</td>
        <td><a class="nav-link" [routerLink]='["/edit-user"]' [class.selected]="user === selectedUser"><strong>Edit</strong></a></td>
        <td><button (click)="deleteUser(user.userId)">Delete</button></td>
      </tr>
    </table>
  </div>
  <app-edit-user [hidden]="true" [user]="selectedUser"></app-edit-user>
</div>
