<div class="container-fluid">
  <h2 class="text-center"> Add User</h2>
</div>
  <div  class="list-container" [hidden]="submitted">
    <form class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="first name">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="name">
      </div>

      <div class="form-group">
        <label for="last name">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="address">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" required [(ngModel)]="user.userStatus" name="status">
          <option>Active</option>
          <option>InActive</option>
        </select>
      </div>

      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" id="userRole" required [(ngModel)]="user.userRole" name="role">
      </div>
      <div class="form-group">
        <label for="Organiztion">Organization</label>
        <select class="form-control" *ngFor="let organization of organizations" required [(ngModel)]="user.organizationId" name="organizationId">
          <option>{{organization.name}} ({{organization.organizationId}}) </option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>
