<div class="container-fluid">
  <h2 class="text-sm-center"> Organization Details</h2>
</div>
<div class="row">
  <div class="organization-info col-lg-12 table-responsive table-container">
    <table class="organization-props">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Add Member</th>
        <th>View Members</th>
        <th>Edit Organization</th>
        <th>Delete Organizations</th>
      </tr>
      <tr *ngFor="let organization of organizations">
        <td>{{organization.name}}</td>
        <td>{{organization.address}}</td>
        <td>{{organization.city}}</td>
        <td>{{organization.state}}</td>
        <td>{{organization.zip}}</td>
        <td><a class="nav-link" [routerLink]='["/add-user"]' [class.selected]="organization === selectedOrganization"><strong>Add Users</strong></a></td>
        <td><a class="nav-link" [routerLink]='["/user-list"]'><strong>View Members</strong></a></td>
        <td><a class="nav-link" [routerLink]='["/edit-org"]' [class.selected]="organization === selectedOrganization"><strong>Edit</strong></a></td>
        <td><button (click)="deleteOrg(organization.organizationId)">Delete</button></td>
      </tr>
    </table>
  </div>
  <app-user-list [organization]="selectedOrganization" *ngIf="user"></app-user-list>
  <app-edit-org *ngIf="organizations" [organization]="selectedOrganization"></app-edit-org>
</div>
