<div class="row">

  <div class="organization-info col-lg-12">
    <table class="organization-props">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>View Members</th>
      </tr>
      <tr *ngFor="let org of organizations">
        <td>{{org.name}}</td>
        <td>{{org.address}}</td>
        <td>{{org.city}}</td>
        <td>{{org.state}}</td>
        <td>{{org.zip}}</td>
        <td><a class="nav-link" [routerLink]='["/user-list"]'><strong>View Members</strong></a></td>
      </tr>
    </table>
  </div>
</div>
